.custom-button{
  height: 2.5rem;
  padding: 0.625rem 1rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  color: white;
  background: #1a2856;
  cursor: pointer;
  gap: .5rem;
  display: flex;
  align-items: center;
    font-weight: 600;
}

.custom-button:hover{
  opacity: 90%;
}

.custom-button i{
  font-size: 1.25rem;
}

