.custom-button{
  width: 100%;
  height: 3rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  color: white;
  background: linear-gradient(90deg, #1a2856 0%, #334ea9 100%);
  cursor: pointer;
  font-weight: 600;
}

.custom-button:hover{
  opacity: 90%;
}
