
.custom-card {
  max-width: 42rem;
  gap: 1.25rem;
  border-radius: .5rem;
  border: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem 3.5rem 2rem;
}

.custom-card i {
  font-size: 3rem;
  color: #64748b;
}

.custom-warning-titles {
  gap: 2px;
}

.card-title {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  text-align: center;
  color: #1a2856;
}

.card-subtitle {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: 0;
  text-align: center;
  color: #64748b;
}

.list-certificates{
max-width: 42rem;
}
