.custom-card {
  max-width: 42rem;
  gap: 2rem;
  border-radius: .5rem;
  border: 1px solid #e2e8f0;
  padding: 2rem;
}

.card-title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0;
  color: #1a2856;
  margin-bottom: 1.25rem;
}

.atividade-group {
  margin-bottom: 2rem;
}

label {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  color: #1a2856;
}

.item-list {
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: .5rem;
  padding: 1rem;
  gap: .75rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list hr {
  all: unset;
  display: block;
  height: 1px;
  background-color: #e2e8f0;
  margin: .75rem 0;
}

.remove-btn i {
  padding: .36rem;
  color: #e95f5f;
  font-size: .78rem;
  border-radius: .25rem;
  cursor: pointer;
}

.remove-btn i:hover {
  background-color: #e2e8f0;
}

.custom-input {
  border: 1px solid #e2e8f0;
  border-radius: .375rem;
  padding: .5rem .75rem;
  height: 2.5rem;
}

.custom-input:focus {
  border: 1px solid #3b5ac2;
  box-shadow: none;
}

.custom-input-group{
  margin-bottom: 1.25rem !important;
}

.custom-input-group:has(input:focus) label {
  color: #3b5ac2;
}

.error-message {
  gap: 4px;
  color: #d71d1d;
  margin-top: .5rem;
}

.error-message p {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: 0;
  vertical-align: middle;
}

.text-danger-label{
  color: #d71d1d;
}
