.navbar{
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e2e8f0;
  padding-right: 1.75rem;
  padding-left: .75rem;
}

.navbar-logo img{
  height: 2.5rem ;
}

.active{
   color: #3b5ac2;
}

.nav-link{
  padding: 6px !important;
}

.nav-link.active{
  color: #3b5ac2;
  font-weight: 600;
}

.nav-item{
  cursor: pointer;
  margin-left: 1.125rem !important;
}

.nav-item i{
font-size: 1.25rem;
}
