body{
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
}

.custom-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: .25rem;
}

.custom-subtitle {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  text-align: center;
  color: #64748b;
}

.content-titles {
  height: 3.75rem;
  gap: .25rem;
  margin-bottom: 2rem;
}

